:root {
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}

.data-table-clickable-cell {
    cursor: pointer !important;
    user-select: none;
}

.data-table-clickable-cell > * {
    cursor: initial !important;
    user-select: all !important;
    width: fit-content;
    max-width: 100%;
}
