# -------------------------------------------------------------------------
# WATCHER INSTANCE OPTIONS
# -------------------------------------------------------------------------

# URL of the DNS Manager API
# Required for remote watcher instances.
API_URL=http://your-dns-manager-api:9000/api

# Secret key used to verify API requests sent by the watcher.
# Must match the secret key specified in the main DNS Manager instance, 
# otherwise all API requests will raise HTTP 401
WATCHER_AUTH_SECRET_KEY=your-api-secret-key-for-watchers

# Watcher instance identificator
WATCHER_NAME=name-of-the-instance

# IP address of the Traefik service host
# Must be a valid IPv4 address, otherwise all API requests will raise HTTP 422
TRAEFIK_HOST_IP=10.0.0.1

# -------------------------------------------------------------------------
# DEBUG
# All variables in this section have preset defaults in the application.
# -------------------------------------------------------------------------

# Log level for the backend
# Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
# Defaults to INFO
LOG_LEVEL=INFO